.blog-listing {
  margin-top: 2em;
}

.post-summery {
  width: 100%;
  height: 14em;
  display: block;
  box-sizing: border-box;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 0.25em;
  background: var(--color-secondary);
  overflow: hidden;
  position: relative;
}

.post-summery-header {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20pt;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0.5em;
}

.post-summery-title {
  margin-right: auto;
  flex: 1 0 auto;
  padding-right: 2em;
}

.post-summery-details {
  font-size: 16pt;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.post-summery-details .icon {
  font-size: 6pt;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 0.33em;
}

.post-summery-content {
  font-size: 80%;
}

.post-summery hr {
  border: 0.5px solid var(--color-primary);
  opacity: 0.5;
  margin: 0.5em 0;
}

.post-summery:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6em;
  pointer-events: none;
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0), var(--color-secondary));
}