.layout {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  min-height: 100vh;
  background: var(--color-background);
}

.layout .header {
  flex: 0 0 4em;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;

  color: var(--color-secondary);
  background: var(--color-primary);
}

.layout .header .header-logo {
  flex: 0 0 3em;
  height: 3em;
  margin: 0.5em;

  border-radius: 35%;
  line-height: 3em;
  text-align: center;
}

.layout .header .header-logo > i.fas {
  color: var(--color-secondary);
  font-size: 20pt;
  margin-bottom: 0.125em;
  vertical-align: middle;
}

.layout .header .header-logo:hover {
  box-shadow: 0 0 8px 0 black;
}

.layout .header .header-title {
  flex: 1 0 auto;
  height: 4em;
  margin-right: 4em;

  text-align: center;
  line-height: 4em;
}

.layout .header .header-title > span {
  font-size: 18pt;
  font-weight: 700;
}

.layout .content-pane {
  flex: 1 1 auto;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
}

.layout .content {
  flex-grow: 1;
  max-width: 44em;
  padding: 0 1em;
  margin: 0 auto;
}

@media print {
  .layout .header {
    display: none !important;
  }
}
