@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,700');

body {
    --color-primary: #2d3236;
    --color-secondary: #e0e0de;
    --color-accent: #1561f1;
    --color-background: #fefefe;

    /* font */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}